#categories {
    background-color: rgb(255, 255, 255);
    height: 390px;
    border-radius: 5px;
}

.carousel {
    border-radius: 5px;
    height: 360px;
    border-radius: 30px;
}

img {
    border-radius: 5px;
}

#catalogue {
    border-radius: 5px;
    color: black;
}

ul {
    list-style-type: none;
}

#searchBox {
    border-radius: 20px;
}